* {
    font-family: 'Lobster', cursive;
    /* font-family: 'Permanent Marker', cursive; */
}

.banner {
    background-image: url("elden-ring-background.jpg");
    /* object-fit: cover;*/
    background-position: center;
    background-size: cover;
}

.card {
    position: absolute;
    top: 28em;
    box-shadow: 0px 4px 12px rgba(8, 4, 25, 0.537);

}

.game-case {
    background-image: url("elden-ring-game-case.jpg");
    /* object-fit: cover;*/
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.review {
    border-color: black;
    border-style: solid;
}

.footer {

    background-color: goldenrod;
}

.words {
    flex-direction: column;
}



/* I spent hours on this and this what worked to get my words to stack
I used flex-direction: column and it fixed my problem.
.words {
    display: flex;
    flex-direction: column;
}

.card .content {
    flex: 1 1 auto;
}

*/








body.debug .container,
body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
}

body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
}

body.debug [class*="col-"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
}