* {
    font-family: 'Lobster', cursive;
    /* font-family: 'Permanent Marker', cursive; */
}


.nav {
    color: goldenrod;
}


.banner {
    background-image: url("elden-ring-background.jpg");
    object-fit: cover;
    /* background-position: center; */
    background-position-x: center;
    background-position-y: 89%;
    background-size: inherit;
}

/* This hides image text for mobile;*/
@media (max-width: 768px) {



    /* This is fixing the problem with some extra white space on the right side of my
    screen on mobile but come back to this code first see if there is any
    nested divs or margins causing the problem*/

    html,
    body {

        overflow-x: hidden;
    }

    .banner {
        /* display: none; */

        background-image: url("elden-ring-mobile.jpeg");
    }

    .form {
        width: 85%;
    }




    .words {
        flex-direction: column;
        margin-top: 1rem;
    }


    .text-over-img {
        display: none;
    }

    .spill {
        margin: 1em;
        width: 90%;
    }


    /* Nice stands for what I called the class
so I could center the text in the words
on mobile*/

    .nice {
        display: flex;
        justify-content: center;
    }
}

/* This is for one the screen gets bigger 
for laptops and desktops*/

@media (min-width: 768px) {

    /* navbar stays still on desktop*/
    .stay {

        position: sticky;
    }


    .spill {
        position: absolute;
        top: 35em;
        box-shadow: 0px 4px 12px rgba(8, 4, 25, 0.537);

    }

    .words {
        flex-direction: column;

        /* I put this in to make sure the words are not covered by the spill
    because I changed it to a video instead of a picture. */

        margin-top: 6rem;
    }



    .highlight-review {
        /*filter: drop-shadow(1px 0px 0px rgb(67, 67, 67));
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 18%) !important*/
        border: 0;
        box-shadow: 0 14px 16px 0 hsl(0deg 0% 0% / 20%);

    }



}





.game-case {
    background-image: url("elden-ring-game-case.jpg");
    /* object-fit: cover;*/
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.highlight-review {
    /*filter: drop-shadow(1px 0px 0px rgb(67, 67, 67));
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 18%) !important*/
    height: 97%;
    border: 0;
    box-shadow: 0 14px 16px 0 hsl(0deg 0% 0% / 20%);

}

/* come back to this line later after trying a different web browser webkit-center
made the text look better in the card but make sure it doesnt look bad
on other browser and mobile*/

.highlight-review {
    text-align: -webkit-center;
}

.mid {

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mdi-star-circle {
    font-size: 55px;
    color: goldenrod;
}

.footer {

    background-color: goldenrod;
}




/* I spent hours on this and this what worked to get my words to stack
I used flex-direction: column and it fixed my problem.
.words {
    display: flex;
    flex-direction: column;
}

.card .content {
    flex: 1 1 auto;
}

*/








body.debug .container,
body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
}

body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
}

body.debug [class*="col-"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
}