* {
    font-family: 'Lobster', cursive;
    font-family: 'Permanent Marker', cursive;
}

.banner {
    background-image: url("elden-ring-background.jpg");
    /* object-fit: cover;*/
    background-position: center;
    background-size: cover;
}

.card {
    position: absolute;
    top: 28em;
    border-radius: var(--borders);
    box-shadow: 0px 4px 12px rgba(8, 4, 25, 0.537);

}

.game-case {
    background-image: url("elden-ring-game-case.jpg");
    /* object-fit: cover;*/
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.should-buy {
    @media (max-width: 768px) {

        margin-top: 350px;
        margin-left: 150px;
    }


}

.review {
    border-color: black;
    border-style: solid;
}

.footer {

    background-color: goldenrod;
}